@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>About Us</h1>

<img src="https://media.istockphoto.com/id/1191817260/photo/portrait-of-young-business-team.webp?b=1&s=170667a&w=0&k=20&c=m3c5teDEW6fPIMKyoaBXzj3FNV-2mecNI7q7CD48-l8=" alt="Picture of the business owners">

<p>
    Welcome to Khumalo Crafts, where we make beautiful things by hand and sell them online. From pretty jewelry to lovely home decorations, everything we sell is made with care and attention to detail.

    Our website is easy to use, so you can shop from home or anywhere you like. We're a small business, and we're always here to help if you need anything.

    Thanks for choosing Khumalo Crafts. Have fun shopping!
</p>








